<md-dialog aria-label="Dialog">
    <form>
        <md-toolbar md-theme="hello-center">
            <div class="md-toolbar-tools">
                <md-icon md-svg-src="{{data.icon}}"></md-icon>
                <h2> {{data.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
                    <md-icon md-svg-src="assets/svg/ic_close_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:420px; ">
            <div class="md-dialog-content">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="item in data.contacts | orderBy: '-id'" ng-click="show()">
                        <md-checkbox ng-model="item.favorite" class="md-primary"></md-checkbox>
                        <md-icon md-svg-src="{{item.img}}"></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.firstname }} {{ item.lastname }}</h3>
                            <h4>{{ item.homephone }}</h4>
                            <p>{{ item.email }}</p>
                        </div>
                        <md-button class="md-fab md-mini md-secondary">
                            <md-icon md-svg-src="assets/svg/ic_close_24px.svg" style="text-align: center;"></md-icon>
                        </md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="answer(data.okButton)" md-autofocus>
                {{data.okButton}}
            </md-button>
            <md-button class="md-raised" ng-click="answer(data.cancelButton)">
                {{data.cancelButton}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>