
<div layout-padding>
    <h1>md-dialog</h1>
    <md-button class="md-primary md-raised" ng-click="showAlertDialog($event,dialogAlertModel)">Alert</md-button>
    <md-button class="md-primary md-raised" ng-click="showConfirmDialog($event,dialogConfirmModel)">Confirm</md-button>
    <md-button class="md-primary md-raised" ng-click="showInfoDialog($event,dialogInfoModel)">Info</md-button>
    <md-button class="md-primary md-raised" ng-click="showDeleteDialog($event,dialogDeleteModel)">Delete</md-button>
    <md-button class="md-primary md-raised" ng-click="showListDialog($event,dialogListModel)">List</md-button>
    <md-button class="md-primary md-raised" ng-click="showFormDialog($event,dialogFormModel)">Form</md-button>
</div>
