<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
      <link rel="stylesheet" href="./bower_components/angular-material-icons/angular-material-icons.css"/>
	<!-- style sheet -->
	<link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-cloak ng-app="starterApp" layout="row" ng-controller="UserController as ul">

  <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-primary"-->
                <!--md-component-id="left"-->
                <!--md-is-locked-open="$mdMedia('gt-sm')">-->

    <!--<md-toolbar class="md-whiteframe-z1">-->
      <!--<h1>Examples</h1>-->
    <!--</md-toolbar>-->

    <!--<md-list>-->
      <!--<md-list-item ng-repeat="it in ul.users">-->
          <!--<md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }" ui-sref="it.content">-->
            <!--&lt;!&ndash;<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>&ndash;&gt;-->
            <!--{{it.name}}-->
          <!--</md-button>-->
      <!--</md-list-item>-->
    <!--</md-list>-->

  <!--</md-sidenav>-->


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
      <ams-banner ams-header-logo="./assets/header-logo.png" ams-header-alt=""
                  ams-header-title="Example Center">
          <div name="panel-left"
               class="ams-banner-left-menu-hide">
              <!-- User Menu -->
              <md-menu>
                  <md-button style="  min-width: 38px;">
                      Users
                  </md-button>
                  <md-menu-content width="2">
                  </md-menu-content>
              </md-menu>
              <md-menu>
                  <md-button style="  min-width: 38px;">
                      Tasks
                  </md-button>
                  <md-menu-content width="2">
                  </md-menu-content>
              </md-menu>
              <md-menu>
                  <md-button style="  min-width: 38px;">
                      Resources
                  </md-button>
                  <md-menu-content width="2">
                  </md-menu-content>
              </md-menu>
              <md-menu>
                  <md-button style="  min-width: 38px;">
                      History
                  </md-button>
                  <md-menu-content width="2">
                  </md-menu-content>
              </md-menu>
          </div>

          <div name="panel-right">
              <md-menu>
                  <ng-md-icon icon="search" style="fill: #777"></ng-md-icon>
              </md-menu>
              <md-menu>
                  <md-button ng-click="$mdOpenMenu()"
                             class="md-icon-button"
                             aria-label="Open sample menu">
                      Help
                  </md-button>
                  <md-menu-content width="2">
                      <md-menu-item>
                          <md-button >
                              Do Something
                          </md-button>
                      </md-menu-item>
                      <md-menu-item>
                          <md-button >
                              Do Something
                          </md-button>
                      </md-menu-item>
                  </md-menu-content>
              </md-menu>

              <md-menu>
                  <md-button ng-click="logout()">
                      Logout
                  </md-button>
                  <md-menu-content width="2">
                  </md-menu-content>
              </md-menu>
          </div>
      </ams-banner>



      <!--<md-toolbar layout="row" class="md-whiteframe-z1" >-->
      <!--<md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">-->
        <!--<md-icon md-svg-icon="menu" ></md-icon>-->
      <!--</md-button>-->
      <!--<h1 ui-view="hint">Angular Material - Starter App</h1>-->

    <!--</md-toolbar>-->

	<md-content layout="column" flex >
		 <div ui-view></div>
    </md-content>


  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
	<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
  <!--<script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc7/angular-material.js"></script>-->
    <script src="./bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="./bower_components/ng-multi-transclude/src/multi-transclude.js"></script>

  <!--directives-->
  <script src="./src/common/directives/ams-header/ams-header.directive.js"></script>
  <script src="./src/common/directives/ams-banner/ams-banner.js"></script>
	<!-- module -->
    
	<script src="./src/users/users.module.js"></script>
    <script src="./src/users/user.controller.js"></script>
    <script src="./src/users/user.service.js"></script>

  <script src="./src/md-data-table/md-data-table.js"></script>

  <script src="./src/app.route.js"></script>
  <script src="./src/app.module.js"></script>

  </body>
</html>
